Repository tsukuba-websci/MPS-TOM-Urnmodel, pull requests merged in 2023-07, with the labels that each got.

#63 BUGFIX: /qd のREADMEのハイパーリンクの修正
  qd/README.md
Labels: bugfix, bump:none, documentation, ready for merge, qd

#64 Feature: 可視化のために最良のパラメータをコピーする
  qd/copy_best.py
  qd/main.py
  qd/qd.py
  qd/tuning.py
Labels: qd

#61 Feature: ランダムサーチによる壺モデルのパラメタ探索の実装
  random-search/.gitignore
  random-search/Manifest.toml
  random-search/Project.toml
  random-search/fitting.py
  random-search/main.py
Labels: enhancement, ready for review

#65 Feature: ランダムサーチの結果を棒グラフで可視化する
  visualize/graphs/bar_graph.py
  visualize/main.py
  visualize/preprocessing.py
Labels: visualize

#66 Feature: 可視化コードの軽微な修正
  visualize/graphs/bar_graph.py
  visualize/graphs/timeline.py
  visualize/main.py
Labels: visualize

#67 Feature: latex形式の表を合成データにも対応させる
  visualize/graphs/latex_table.py
Labels: visualize

#69 Refactor: 可視化のスクリプトを整備する
  visualize/graphs/bar_graph.py
  visualize/graphs/box.py
  visualize/graphs/map.py
  visualize/graphs/radar_chart.py
  visualize/graphs/timeline.py
  visualize/main.py
  visualize/make_vec.py
  visualize/preprocessing.py
  visualize/tables/latex_table.py
  visualize/tables/print_best.py
Labels: refactor, visualize

#70 Update: READMEを更新する
  README.md
  full-search/README.md
  ga/README.en.md
  ga/README.md
  qd/README.md
  random-search/README.md
  visualize/README.md
Labels: documentation, ga, qd, visualize
